* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

:root {
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 92px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 50px;
  background-color: #ffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 4;
}

.hide {
  display: none;
}

#btn_mobile {
  display: flex;
  cursor: pointer;
  padding: .4rem .3rem;
  border: none;
  background: none;
  color: #13273B;
}

#hamburguer {
  display: block;
  border-top: 3px solid;
  width: 20px;
  gap: .5rem;
  color: #13273B;
}

#hamburguer::after,
#hamburguer::before {
  width: 20px;
  height: 3px;
  content: '';
  display: block;
  background: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#menu.active #hamburguer {
  border-top-color: transparent;
}

#menu.active #hamburguer::before {
  transform: rotate(135deg);
}

#menu.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -8px;
}

.menu_links {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 290px;
  height: 100vh;
  padding-top: 140px;
  padding-left: 30px;
  padding-right: 40px;
  margin: -50px 0 0 0;
  overflow: hidden;
  box-shadow: 0 0 2px #85888C;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 0;
  -webkit-font-smoothing: antialiased;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  left: 0;
  /*z-index: 1;*/
}

#menu.active .menu_links {
  transform: none;
}

.menu_links a {
  color: #1E1E23;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_links a:last-child {
  background-color: #13273B;
  color: #ffff;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
}

h1 {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 19px;
  color: #13273B;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section1_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 38.73px;
  padding-top: 100px;
}

.section1_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1_title h1 {
  width: 261px;
}

.logo_img {
  width: 196px;
  height: 50px;
}

.img_quemsomos_mobile {
  width: 200px;
  height: 170px;
  margin-top: 20px;
}

.sol {
  width: 43.17px;
  margin-left: 150px;
  animation: spin 20s linear infinite;
  margin-bottom: -20px;
}

.painel {
  width: 179.33px;
}

.btn-vamos-conversar {
  background-color: #13273B;
  color: #ffff;
  font-size: 1.2rem;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0px 24px;
  gap: 8px;
  margin-top: 20px;
}

.img_section1_desktop {
  display: none;
}

.arrow {
  text-align: center;
}

.quemSomos_textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 41.04px;
}

.quemSomos_text_title,
.funcionalidades_title {
  text-align: justify;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #13273B;
}

.quemsomosparagraph {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;
  color: #19171C;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: justify;
  width: 328px;
}

.quemSomos_img {
  margin-top: 32px;
  margin-bottom: 33px;
  width: 306px;
}

.funcionalidades {
  margin-top: 30px;
}

.funcionalidades_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.funcionalidade_content p {
  font-size: 1.2rem;
  margin-bottom: 48px;
}

.funcionalidade_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funcionalidades_listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.funcionalities_listCard {
    width: 268px; 
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .funcionalities_titleCard {
    color: #19171C;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 16px;
  }

  .funcionalities_textCard {
    text-align: center;
    font-size: 1.2rem;
    color: #19171C;
    margin-top: 8px;
  }

.btn_funcionalidades {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-comece-agora {
  background-color: #13273B;
  color: #ffff;
  font-size: 1.2rem;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  gap: 8px;
  text-decoration: none;
  margin-top: 24px;
}

.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 16px;
}

.middle_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 52px;
  margin-bottom: -22px;
}

.middle img {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.middle_content {
  background: #E4E8ED;
  border-radius: 0px 108.5px 108.5px 0px;
  padding: 43px 72px;
}

.middle_content p {
  font-size: 1.2rem;
  line-height: 14px;
  margin-right: 13px;
  font-weight: 700;
  color: #19171C;
}

.planos {
  display: flex;
  justify-content: center;
}

.planos_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.planos_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youtubeDesktop_img {
  display: none;
}

.youtube_img {
  width: 328px;
}

.planos_content p {
  font-size: 1.6rem;
  line-height: 19px;
  font-weight: 400;
  text-align: justify;
  width: 328px;
  margin-top: 35.47px;
  margin-bottom: 32px;
}

.planos_btn {
  background-color: #13273B;
  color: #ffff;
  font-size: 1.2rem;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 0px 24px;
  gap: 8px;
}

.listOption {
  margin-top: 21px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.accordion-menu {
  overflow: hidden;
}

.dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
  color: #13273B;
  font-size: 2rem;
  font-weight: 700;
  padding: 16px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
  
  width: 328px;
  transition: all 0.4s ease-out;
}

.dropdown2 {
  width: 328px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 16px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);
}

.dropdown2 h2 {
  color: #13273B;
  font-size: 2rem;
  font-weight: 700;
}

.dropdown .arrowDown {
  transition: transform 0.2s ease-in-out;
}

.submenuItems {
  display: none;
  width: 328px;
  transition: all 2s ease-in-out;
}

.accordion-menu li.active .submenuItems{
  display: block;
}

.submenuItems li {
  display: block;
  color: #1D3451;
  font-size: 1.3rem;
  font-weight: 400;
  transition: all 0.2s ease-out;
  padding: 8px;
}

.submenuItems h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

.submenuItems li:nth-child(odd) {
  border-radius: 4px;
  background: #F4F4F4;
}

.listOption_priceContainer {
  text-align: center;
}

.listOption_price {
  display: flex;
  align-items: baseline;
  justify-content: center;
  //flex-direction: column;
}

.listOption_price3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.listOption_price p {
  font-size: 2rem;
}

.listOption_priceContainer button {
  width: 328px;
}

.tableButton {
  height: 40px;
  padding: 0px 24px;
  border-radius: 20px;
  background: #13273B;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 24px;
}

.table {
  display: none;
}

.contato {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.contato_content {
  background: #E4E8ED;
  padding-top: 31.77px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone_img {
  width: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contato_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.contato_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32.38px;
}

.contato_text p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 14px;
  text-align: left;
  color: #19171C;
  margin-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#erro {
  color: red;
  font-size: 1.2rem;
  margin-top: 12px;
  display: none;
}

.form {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form input {
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  padding: 10px 24px;
  width: 310px;
}

input:focus {
  outline-color: #FEB916;
}

.form input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6F7481;
}

.checkbox_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox1 input,
.checkbox2 input {
  position: absolute;
  left: 0;
  width: 9.44px;
  height: 9.44px;
  opacity: 0;
}

.checkbox_content label {
  display: flex;
  align-items: center;
  gap: 9.44px
}

.checkbox_content label::before {
  content: '';
  width: 9.44px;
  height: 9.44px;
  border: 1px solid #13273B;
  border-radius: 30px;
  background: #E4E8ED;
  display: block;
}

.checkbox_content input:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.950928' width='9.43596' height='9.43596' rx='4.71798' fill='%2313273B'/%3E%3Cpath d='M6.77572 4.33398L3.67167 7.43803L2.26074 6.0271' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: 30% 45%;
  background-size: 130%;
  background-repeat: no-repeat;
}

.checkbox1,
.checkbox2 {
  display: flex;
  align-items: center;
  gap: 9.44px;
}

.checkbox1 label,
.checkbox2 label {
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: #141927;
}

form button {
  background: #13273B;
  border-radius: 30px;
  padding: 15.5px 24px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 14px;
  color: #FFFFFF;
  margin-top: 32px;
  border: none;
}

dialog {
  border: none;
  padding: 30px 100px;
  text-align: center;
  margin: 0 auto;
  top: 300px;
  font-size: 1.2rem;
  box-shadow: 0 0 1em rgba(0, 0, 0 / 0.3);
}

footer {
  background: #13273B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13.5px;
  padding-bottom: 10.51px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 10.69px;
}

.email,
.phone,
.adress {
  display: flex;
  align-items: center;
  gap: 9.75px;
}

.footer_links a {
  font-weight: 400;
  font-size: 1rem;
  line-height: 12px;
  color: #FFFFFF;
}

.copyright {
  font-size: .8rem;
  line-height: 10px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.copyright img {
  width: 29px;
}