* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.hide {
  display: none;
}

/*.menu_desktop {
  display: none;
}*/

#btn_mobile {
  display: flex;
  cursor: pointer;
  padding: .4rem .3rem;
  border: none;
  background: none;
}

#hamburguer{
  display: block;
  border-top: 3px solid;
  width: 20px;
  gap: .5rem;
}

#hamburguer::after, #hamburguer::before{
  width: 20px;
  height: 3px;
  content: '';
  display: block;
  background: currentColor;
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

#menu.active #hamburguer{
  border-top-color: transparent;
}

#menu.active #hamburguer::before{
  transform:rotate(135deg) ;
}

#menu.active #hamburguer::after{
  transform:rotate(-135deg) ;
  top: -8px;
}

.menu_links {
  display: block;
  transition: 0.20s;
  z-index: 10000;
  visibility: hidden;
  overflow-y: hidden;  
  position: absolute;
  left: 0;
  width: 290px;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  margin: -110px 0 0 288px;
  padding: 20px;
  padding-top: 65px;
  padding-right: 40px;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  border-radius: 0 0 0 10px;
}

#menu.active .menu_links {
  visibility: visible;
}

.menu_links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 100px;
  padding-left: 30px;
}

.menu_links a {
  color: #1E1E23;
  font-size: .8em;
  text-transform: uppercase;
  text-decoration: none;
}

.menu_links a:last-child {
  background-color: #13273B;
  color: #ffff;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
}
/*.menu-drop {
  position: absolute;
  left: 0;
  width: 290px;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  margin: -110px 0 0 288px;
  padding: 20px;
  padding-top: 65px;
  padding-right: 40px;
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  border-radius: 0 0 0 10px;
}


.menu-drop nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
  transition-delay: 2s;
}

.menu-drop a {
  text-decoration: none;
  color: #1E1E23;
  font-size: .8em;
  transition: 200ms;
  text-transform: uppercase;
}

.menu-drop a:hover {
  color: #FEB916;
}*/

h1 {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #13273B;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section1_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 38.73px;
}

.section1_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1_title h1 {
  width: 261px;
}

.logo_img {
  width: 196px;
  height: 50px;
}

.img_quemsomos_mobile {
  width: 200px;
  height: 170px;
}

.btn-vamos-conversar {
  background-color: #13273B;
  color: #ffff;
  font-size: 12px;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0px 24px;
  gap: 8px;
  margin-top: 20px;
}

.img_section1_desktop {
  display: none;
}

.arrow {
  text-align: center;
}

.quemSomos_textContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 41.04px;
}

.quemSomos_text_title,
.funcionalidades_title {
  text-align: justify;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #13273B;
}

.quemsomosparagraph {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #19171C;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: justify;
  width: 328px;
}

.quemSomos_img {
  margin-top: 32px;
  margin-bottom: 33px;
  width: 306px;
}

.funcionalidades {
  margin-top: 30px;

}

.funcionalidades_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.funcionalidade_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funcionalidade_content p {
  font-size: 12px;
  color: #19171C;
  margin-bottom: 16px;
}

.funcionalidades_list {
  margin-left: -44px;
}

ul li {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #19171C;
  list-style: none;
  text-decoration: underline;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-comece-agora {
  background-color: #13273B;
  color: #ffff;
  font-size: 12px;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 0px 24px;
  gap: 8px;
  margin: 0 auto;
}

.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
  padding-right: 16px;
}

.middle_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 52px;
  margin-bottom: -22px;
}

.middle img {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.middle_content {
  background: #E4E8ED;
  border-radius: 0px 108.5px 108.5px 0px;
  padding: 43px 72px;
}

.middle_content p {
  font-size: 12px;
  line-height: 14px;
  margin-right: 13px;
  font-weight: 700;
  color: #19171C;
}

.planos {
  display: flex;
  justify-content: center;
}

.planos_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.planos_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youtubeDesktop_img {
  display: none;
}

.youtube_img {
  width: 328px;
}

.planos_content p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: justify;
  width: 328px;
  margin-top: 35.47px;
  margin-bottom: 32px;
}

.planos_btn {
  background-color: #13273B;
  color: #ffff;
  font-size: 12px;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 0px 24px;
  gap: 8px;
}

.contato {
  display: flex;
  flex-direction: column;
  margin-top: 32.33px;
}

.contato_content {
  background: #E4E8ED;
  padding-top: 31.77px;
  padding-bottom: 32px;
}

.phone_img {
  width: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contato_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;
}

.contato_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32.38px;
}

.contato_text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: #19171C;
  text-decoration-line: underline;
  margin-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form input {
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  padding: 10px 24px;
  width: 310px;
}

.form input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6F7481;
  text-decoration-line: underline;
}

.checkbox_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox1 input,
.checkbox2 input {
  position: absolute;
  left: 0;
  width: 9.44px;
  height: 9.44px;
  opacity: 0;
}

.checkbox_content label {
  display: flex;
  align-items: center;
  gap: 9.44px
}

.checkbox_content label::before {
  content: '';
  width: 9.44px;
  height: 9.44px;
  border: 1px solid #13273B;
  border-radius: 30px;
  background: #E4E8ED;
  display: block;
}

.checkbox_content input:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.950928' width='9.43596' height='9.43596' rx='4.71798' fill='%2313273B'/%3E%3Cpath d='M6.77572 4.33398L3.67167 7.43803L2.26074 6.0271' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: 10%;
  background-size: 105%;
  background-repeat: no-repeat;
}

.checkbox1,
.checkbox2 {
  display: flex;
  align-items: center;
  gap: 9.44px;
}

.checkbox1 label,
.checkbox2 label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #141927;
}

form button {
  background: #13273B;
  border-radius: 30px;
  padding: 15.5px 24px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-top: 32px;
  border: none;
}

footer {
  background: #13273B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13.5px;
  padding-bottom: 10.51px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 10.69px;
}

.email,
.phone,
.adress {
  display: flex;
  align-items: center;
  gap: 9.75px;
}

.footer_links a {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration-line: underline;
}

.copyright {
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.copyright img {
  width: 29px;
}