* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.hide {
  display: none;
}

.menu_desktop {
  display: none;
}

h1 {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #13273B;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;

}

.quemSomos_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.quemSomos_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quemSomos_title h1 {
  width: 261px;
}

.logo_img {
  width: 196px;
  height: 50px;
}

.img_quemsomos {
  width: 200px;
  height: 170px;
}

.btn-vamos-conversar {
  background-color: #13273B;
  color: #ffff;
  font-size: 12px;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px 0px 24px;
  gap: 8px;
  margin-top: 20px;
}

.arrowDown_img {
  margin-top: 38.73px;
  margin-bottom: 41.04px;
}

.quemSomos_text_title,
.funcionalidades_title {
  text-align: justify;
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #13273B;
}

.quemsomosparagraph {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #19171C;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  text-align: justify;
}

.quemSomos_img {
  margin-top: 32px;
  margin-bottom: 33px;
  width: 306px;
}

.funcionalidades {
  margin-top: 30px;

}

.funcionalidades_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.funcionalidade_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.funcionalidade_content p {
  font-size: 12px;
  color: #19171C;
  margin-bottom: 16px;
}

.funcionalidades_list {
  margin-left: -44px;
}

ul li {
  font-family: 'lato', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #19171C;
  list-style: none;
  text-decoration: underline;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.btn-comece-agora {
  background-color: #13273B;
  color: #ffff;
  font-size: 12px;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 0px 24px;
  gap: 8px;
}

.middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
}

.middle_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  margin-top: 52px;
  margin-bottom: -22px;
}

.middle img {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.middle_content {
  background: #E4E8ED;
  border-radius: 0px 108.5px 108.5px 0px;
  padding: 43px 72px;
  margin-right: 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #19171C;
}

.middle_content p {
  width: 215px;
  font-size: 12px;
  line-height: 14px;
}

.planos {
  display: flex;
  justify-content: center;
}

.planos_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px; 
}

.planos_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.youtubeDesktop_img {
  display: none;
}

.youtube_img {
  width: 328px;
}

.planos_content p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-align: justify;
  width: 328px;
  margin-top: 35.47px;
  margin-bottom: 32px;
}

.planos_btn {
  background-color: #13273B;
  color: #ffff;
  font-size: 12px;
  border-radius: 20px;
  border-style: none;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 24px 0px 24px;
  gap: 8px;
}

.contato {
  display: flex;
  flex-direction: column;
  margin-top: 32.33px;
  background: #E4E8ED;
  padding-top: 31.77px;
  padding-bottom: 32px;
}

.contato_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone_img {
  width: 180px;
  margin: 0 auto;
}

.contato_text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.contato_title {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 32.38px;
}

.contato_text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: #19171C;
  text-decoration-line: underline;
  margin-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.form input {
  background: #FFFFFF;
  border-radius: 20px;
  border: none;
  padding: 10px 24px;
  width: 310px;
}

.form input::placeholder {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #6F7481;
  text-decoration-line: underline;
}

.checkbox_content {
  position: relative;
}

.checkbox1 input,
.checkbox2 input {
  position: absolute;
  left: 0;
  width: 9.44px;
  height: 9.44px;
  opacity: 0;
}

.checkbox_content label {
  display: flex;
  align-items: center;
  gap: 9.44px
}

.checkbox_content label::before {
  content: '';
  width: 9.44px;
  height: 9.44px;
  border: 1px solid #13273B;
  border-radius: 30px;
  background: #E4E8ED;
  display: block;
}

.checkbox_content input:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.950928' width='9.43596' height='9.43596' rx='4.71798' fill='%2313273B'/%3E%3Cpath d='M6.77572 4.33398L3.67167 7.43803L2.26074 6.0271' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-position: 10%;
  background-size: 105%;
  background-repeat: no-repeat;
}

.checkbox1,
.checkbox2 {
  display: flex;
  align-items: center;
  gap: 9.44px;
}

.checkbox1 {
  margin-bottom: 8px;
}

.checkbox1 label,
.checkbox2 label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #141927;
}

form button {
  background: #13273B;
  border-radius: 30px;
  padding: 15.5px 24px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-top: 32px;
  border: none;
}

footer {
  background: #13273B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 13.5px;
  padding-bottom: 10.51px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 10.69px;
}

.email,
.phone,
.adress {
  display: flex;
  align-items: center;
  gap: 9.75px;
}

.footer_links a {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  text-decoration-line: underline;
}

.copyright {
  font-size: 8px;
  line-height: 10px;
  color: #FFFFFF;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.copyright img {
  width: 29px;
}